.container
{

  position:relative;
  display: inline-block;
  top: -2100px;
  left:1100px;
  border: 4px solid red;
  overflow: hidden;
  z-index:-3;
  }
<style>
    .container {
    position: relative;  
    width:100%;
    max-width:316px;
    
}
.container:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.container:hover::before {
  background-color:rgba(0,0,0,10);
}
.container img {
  display:block;
}
.container button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
} 
.container:hover button {   
  opacity: 1;
}
</style>
