.link-box1{
    width: 515px;
    height: 410px;
    border: 1px solid black;
    position: relative;
    top: -1360px;
    left: 770px;
    overflow: hidden;
    }
    .red {
        background-color: rgb(199, 199, 199);
        overflow: hidden;
      }
